
/*--------------------------------------------------------------
# About Three
--------------------------------------------------------------*/
.about-three {
  position: relative;
  display: block;
  padding: 90px 0 120px;
  z-index: 1;
}

.about-three__left {
  position: relative;
  display: block;
  margin-right: 60px;
}

.about-three__img-box {
  position: relative;
  display: block;
}

.about-three__img {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
}

.about-three__img img {
  width: 100%;
  border-radius: 10px;
}

.about-three__img-two {
  position: absolute;
  bottom: 30px;
  right: -130px;
  z-index: 2;
}

.about-three__img-two img {
  width: 300px;
  border: 7px solid var(--careon-primary);
  border-radius: 10px;
}

.about-three__trusted-patient-box {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: var(--careon-white);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px 20px 22px;
  max-width: 280px;
  width: 100%;
  z-index: 2;
}

.about-three__trusted-patient-review-img-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.about-three__trusted-patient-review-img-box li {
  position: relative;
  display: block;
}

.about-three__trusted-patient-review-img-box li + li {
  margin-left: -16px;
}

.about-three__trusted-patient-img {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  width: 45px;
}

.about-three__trusted-patient-img img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid var(--careon-extra);
}

.about-three__trusted-patient-plus-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background-color: var(--careon-base);
  border-radius: 50%;
  border: 2px solid var(--careon-extra);
}

.about-three__trusted-patient-plus-box p {
  font-size: 15px;
  color: var(--careon-white);
  font-weight: 500;
}

.about-three__trusted-patient-text {
  font-size: 18px;
  font-weight: 700;
  color: var(--careon-black);
  line-height: 28px;
}

.about-three__trusted-patient-text span {
  font-family: var(--careon-font) !important;
}

.about-three__right {
  position: relative;
  display: block;
  margin-left: 110px;
}

.about-three__right .section-title {
  margin-bottom: 22px;
}

.about-three__text-box {
  position: relative;
  display: block;
  padding-inline-start: 20px;
}
.about-three__text-info {
  background-color: rgba(var(--careon-base-rgb), 0.1);
  padding: 15px 20px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-inline-start: 3px solid var(--careon-base);
}
.about-three__text-info h4 {
  color: var(--careon-base);
  margin-bottom: 10px;
}
.about-three__text-info p {
  font-size: 15px;
  line-height: 1.7;
}
.about-three__text-box:before {
  content: "";
  position: absolute;
  top: 9px;
  bottom: 10px;
  left: 0;
  width: 2px;
  background-color: rgba(var(--careon-base-rgb), 0.6);
}

.about-three__point-one {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 38px;
}

.about-three__point-one li {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.about-three__point-one li .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--careon-base);
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
}

.about-three__point-one li .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--careon-black);
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  transform-origin: bottom right;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  z-index: -1;
}

.about-three__point-one li:hover .icon::before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  transform-origin: top center;
}

.about-three__point-one li .icon span {
  font-size: 22px;
  color: var(--careon-white);
  position: relative;
  display: inline-block;
}

.about-three__point-one li .text {
  position: relative;
  display: block;
  flex: 1;
}

.about-three__point-one li .text p {
  font-size: 18px;
  color: var(--careon-black);
  font-weight: 700;
  line-height: 18px;
}

.about-three__point-two-and-awards-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-three__point-two {
  position: relative;
  display: block;
}

.about-three__point-two li {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.about-three__point-two li + li {
  margin-top: 10px;
}

.about-three__point-two li .icon {
  position: relative;
  display: flex;
  align-items: center;
}

.about-three__point-two li .icon span {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: var(--careon-base);
}

.about-three__point-two li .text {
  position: relative;
  display: block;
  flex: 1;
}

.about-three__point-two li .text p {
  font-weight: 500;
}

.about-three__awards-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(var(--careon-base-rgb), 0.1);
  gap: 13px;
  border-left: 4px solid var(--careon-base);
  padding: 5px 30px 5px;
  padding-inline-start: 26px;
}

.about-three__awards-box:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
  width: 1px;
  background-color: var(--careon-white);
}

.about-three__awards-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.about-three__awards-icon img {
  width: auto;
}

.about-three__awards-content {
  position: relative;
  display: block;
  flex: 1;
}

.about-three__awards-content h4 {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 18px;
  font-weight: 400;
}

.about-three__awards-content h4 span {
  font-weight: 700;
}

.about-three__btn-and-call-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 36px;
}

.about-three__btn-box {
  position: relative;
  display: block;
}

.about-three__btn-box .thm-btn {
  background-color: var(--careon-base);
}

.about-three__btn-box .thm-btn:before,
.about-three__btn-box .thm-btn:after {
  background-color: var(--careon-black);
}

.about-three__call {
  position: relative;
  display: flex;
  align-items: center;
}

.about-three__call-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  border: 1px solid var(--careon-bdr-color);
  border-radius: 50%;
}

.about-three__call-icon span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: var(--careon-base);
}

.about-three__call-number {
  margin-left: 20px;
}

.about-three__call-number p {
  font-size: 16px;
  margin: 0;
  line-height: 16px;
  color: var(--careon-gray);
  font-weight: 400;
  margin-bottom: 11px;
}

.about-three__call-number h5 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.about-three__call-number h5 a {
  color: var(--careon-black);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.about-three__call-number a:hover {
  color: var(--careon-base);
}
