
/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/
.contact-page {
  position: relative;
  display: block;
  padding: 120px 0 120px;
  z-index: 1;
}

.contact-page__left {
  position: relative;
  display: block;
  border-radius: 20px;
  padding: 37px 39px 39px;
  box-shadow: rgba(var(--careon-base-rgb), 0.15) 0px 8px 24px;
}

.contact-page__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 27px;
}

.contact-page__form {
  position: relative;
  display: block;
}

.contact-page__input-box {
  position: relative;
  display: block;
  margin-bottom: 26px;
}

.contact-page__input-box input[type="text"],
.contact-page__input-box input[type="email"] {
  height: 54px;
  width: 100%;
  padding-inline-start: 0px;
  padding-right: 30px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--careon-bdr-color);
  color: var(--careon-gray);
  display: block;
}

.contact-page__input-box textarea {
  height: 182px;
  width: 100%;
  padding: 15px 30px 30px;
  padding-inline-start: 0;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--careon-bdr-color);
  color: var(--careon-gray);
  position: relative;
  display: block;
  border-radius: 0px;
}

.contact-page__input-box.text-message-box {
  height: 182px;
  margin-bottom: 40px;
}

.contact-page__btn-box {
  position: relative;
  display: block;
}

.contact-page__btn-box .thm-btn {
  border: none;
}

.contact-page__right {
  position: relative;
  display: block;
  margin-left: 30px;
}

.contact-page__right .section-title {
  margin-bottom: 20px;
}

.contact-page__contact-list {
  position: relative;
  display: block;
  margin-top: 15px;
}

.contact-page__contact-list li {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid var(--careon-bdr-color);
  border-radius: var(--careon-bdr-radius);
  padding: 20px 25px 21px;
  max-width: 100%;
  width: 100%;
  gap: 20px;
}

.contact-page__contact-list li + li {
  margin-top: 30px;
}

.contact-page__contact-list li .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--careon-black);
  border-radius: 50%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.contact-page__contact-list li:hover .icon {
  background-color: var(--careon-base);
}

.contact-page__contact-list li .icon span {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: var(--careon-white);
}

.contact-page__contact-list li .content {
  position: relative;
  display: block;
  flex: 1;
}

.contact-page__contact-list li .content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 8px;
}

.contact-page__contact-list li .content p {
  color: var(--careon-gray);
}

.contact-page__contact-list li .content p a {
  color: var(--careon-gray);
}

.contact-page__contact-list li .content p a:hover {
  color: var(--careon-base);
}

/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/
