
/*--------------------------------------------------------------
# Counter Two
--------------------------------------------------------------*/
.counter-two {
  position: relative;
  display: block;
  z-index: 2;
}

.counter-two__inner {
  position: relative;
  display: block;
  background-color: var(--careon-base);
  border-radius: 10px;
  padding: 56px 60px 40px;
}

.counter-two__count-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.counter-two__count-list li {
  position: relative;
  display: flex;
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.counter-two__count-list li .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.counter-two__count-list li .icon img {
  filter: invert(1);
}

.counter-two__count-list li .icon span {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: var(--careon-white);
  transform: scale(1);
  transition: 500ms ease;
}

.counter-two__count-list li:hover .icon span {
  transform: scale(0.9);
}

.counter-two__count-list li .content {
  position: relative;
  display: block;
  flex: 1;
}

.counter-two__count-box {
  position: relative;
  display: flex;
  align-items: center;
}

.counter-two__count-box h3 {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px !important;
  color: var(--careon-white);
  font-family: var(--careon-font) !important;
}

.counter-two__count-box span {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px !important;
  color: var(--careon-white);
  font-family: var(--careon-font) !important;
}

.counter-two__count-text {
  color: var(--careon-white);
  line-height: 16px;
  margin-top: 3px;
}
