/*==============================================
    Services One
===============================================*/
.services-one {
  position: relative;
  display: block;
  background-color: var(--careon-extra);
  padding: 0 0 90px;
  z-index: 1;
}

.services-one__left {
  position: relative;
  display: block;
  margin-top: 240px;
}

.services-one__left .section-title {
  margin-bottom: 30px;
}

.services-one__btn-box {
  position: relative;
  display: block;
  margin-top: 30px;
}

.services-one__btn-box .thm-btn {
  background-color: var(--careon-white);
  border: 1px solid var(--careon-base);
  color: var(--careon-base);
}

.services-one__right {
  position: relative;
  display: block;
  margin-left: 30px;
}
.services-one__right .scene {
  perspective: 1000px;
}

.services-one__right .card {
  width: 100%;
  height: 280px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  background-color: var(--careon-white);
  border-radius: var(--careon-bdr-radius);
  margin-bottom: 30px;
}

.services-one__right .scene:hover .card {
  transform: rotateY(180deg);
}

.services-one__right .card-face {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  backface-visibility: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.services-one__right .card-face img {
  height: 280px;
  border-radius: 16px;
  object-fit: cover;
}
.services-one__right .card-front {
  background: var(--careon-white);
}

.services-one__right .card-back {
  background: var(--careon-white);
  padding: 30px 30px 27px;
  transform: rotateY(180deg);
}

.services-one__img {
  position: relative;
  width: 100%;
}

.services-one__img img {
  width: 100%;
}

.services-one__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 0px 0 14px;
}

.services-one__title a {
  color: var(--careon-black);
}

.services-one__title a:hover {
  color: var(--careon-base);
}

.services-one__read-more {
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--careon-black);
  margin-top: 31px;
}

.services-one__read-more:hover {
  color: var(--careon-base);
}

.services-one__right ul li:first-child {
  margin-top: 80px;
}

.services-one__right ul li:last-child {
  margin-top: -80px;
}
.all-services .services-one__right ul li:first-child,
.services-one__right ul li:last-child {
  margin-top: 0;
}
/******************************************/

/*--------------------------------------------------------------
# Service Details
--------------------------------------------------------------*/
.service-details {
  position: relative;
  display: block;
  padding: 120px 0 113px;
  z-index: 1;
}

.service-details__left {
  position: relative;
  display: block;
}

.service-details__img {
  position: relative;
  display: block;
}

.service-details__img img {
  width: 100%;
  border-radius: var(--careon-bdr-radius);
}

.service-details__content {
  position: relative;
  display: block;
  margin-top: 27px;
}

.service-details__title-1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.service-details__text-1 {
  margin: 19px 0 20px;
}

.service-details__title-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 15px 0px;
  color: var(--careon-secondary);
}

.service-details__points-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.service-details__points-list {
  position: relative;
  display: block;
}

.service-details__points-list li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.service-details__points-list li + li {
  margin-top: 15px;
}

.service-details__points-list li .icon {
  position: relative;
  display: inline-block;
}

.service-details__points-list li .icon span {
  position: relative;
  display: inline-block;
  font-size: 11px;
  color: var(--careon-primary);
}

.service-details__text-3 {
  margin: 20px 0 33px;
}

.service-details__title-3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: var(--careon-secondary);
  margin-top: 25px;
}

.service-details__text-4 {
  margin: 15px 0 0;
}

.service-details__img-box {
  position: relative;
  display: block;
}

.service-details__img-box-img {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.service-details__img-box-img img {
  width: 100%;
  border-radius: var(--careon-bdr-radius);
  height: 225px;
  object-fit: cover;
}

.service-details__text-list {
  position: relative;
  display: block;
}

.service-details__text-list li {
  position: relative;
  display: block;
}

.service-details__text-list li + li {
  margin-top: 17px;
}

.service-details__right {
  position: relative;
  display: block;
}

.service-details__services-box {
  position: relative;
  display: block;
  border: 2px solid var(--careon-bdr-color);
  border-radius: var(--careon-bdr-radius);
  padding: 39px 39px 39px;
}

.service-details__service-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 30px;
  color: var(--careon-secondary);
}

.service-details__service-list {
  position: relative;
  display: block;
}

.service-details__service-list li {
  position: relative;
  display: block;
}

.service-details__service-list li + li {
  margin-top: 20px;
}

.service-details__service-list li a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--careon-gray);
  background-color: var(--careon-extra);
  border: 1px solid transparent;
  padding: 15px 30px 15px;
  border-radius: 30px;
}

.service-details__service-list li:hover a {
  border: 1px solid var(--careon-base);
  background-color: var(--careon-base);
  color: var(--careon-white);
}

.service-details__service-list li.active a {
  border: 1px solid var(--careon-base);
  background-color: var(--careon-base);
  color: var(--careon-white);
}

.service-details__service-list li a span {
  position: relative;
  font-size: 11px;
  color: var(--careon-black);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.service-details__service-list li:hover a span {
  color: var(--careon-white);
}

.service-details__service-list li.active a span {
  color: var(--careon-white);
}






