
/*--------------------------------------------------------------
  # Main Slider Two
  --------------------------------------------------------------*/
.main-slider-two {
  position: relative;
  display: block;
  background-color: var(--careon-white);
  z-index: 2;
}

.main-slider-two .swiper-slide {
  position: relative;
  background-color: var(--careon-white);
}

.main-slider-two__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
  transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
  transition: transform 7000ms ease, opacity 1500ms ease-in;
  transition: transform 7000ms ease, opacity 1500ms ease-in,
    -webkit-transform 7000ms ease;
  z-index: -1;
}

.main-slider-two .swiper-slide-active .main-slider-two__bg {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.main-slider-two__bg-overly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 109, 119, 0.2) 0%,
    rgba(var(--careon-base-rgb), 0.6) 100%
  );
}

.main-slider-two .container {
  position: relative;
  padding-bottom: 0px;
  z-index: 30;
  height: 100vh;
}

.main-slider-two__content {
  position: relative;
  display: block;
  z-index: 15;
}

.main-slider-two__sub-title {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: var(--careon-white);
  text-transform: capitalize;
  opacity: 0;
  -webkit-transform: perspective(400px) rotateX(0deg) translateY(-120px);
  -ms-transform: perspective(400px) rotateX(0deg) translateY(-120px);
  transform: perspective(400px) rotateX(0deg) translateY(-120px);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: all 1500ms ease;
  -moz-transition: all 1500ms ease;
  -ms-transition: all 1500ms ease;
  -o-transition: all 1500ms ease;
  transition: all 1500ms ease;
}

.main-slider-two .swiper-slide-active .main-slider-two__sub-title {
  opacity: 1;
  -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
  -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
  transform: perspective(400px) rotateY(0deg) translateY(0px);
  transition-delay: 1000ms;
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
}

.main-slider-two__title {
  position: relative;
  font-size: 65px;
  color: var(--careon-white);
  font-weight: 800;
  line-height: 1.1em;
  text-transform: capitalize;
  opacity: 0;
  -webkit-transform: perspective(400px) rotateX(0deg) translateY(-120px);
  -ms-transform: perspective(400px) rotateX(0deg) translateY(-120px);
  transform: perspective(400px) rotateX(0deg) translateY(-120px);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: all 1500ms ease;
  -moz-transition: all 1500ms ease;
  -ms-transition: all 1500ms ease;
  -o-transition: all 1500ms ease;
  transition: all 1500ms ease;
}

.main-slider-two__title span {
  color: var(--careon-white);
  font-weight: 300;
}

.main-slider-two .swiper-slide-active .main-slider-two__title {
  opacity: 1;
  -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
  -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
  transform: perspective(400px) rotateY(0deg) translateY(0px);
  transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
}

.main-slider-two__right-content {
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 1;
}

.main-slider-two__counter-box {
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(var(--careon-white-rgb), 0.3);
  padding-bottom: 31px;
  margin-bottom: 8px;
}

.main-slider-two__counter {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}

.main-slider-two__counter li {
  position: relative;
  display: block;
}

.main-slider-two__counter-single {
  position: relative;
  display: block;
}

.main-slider-two__counter-count {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1px;
}

.main-slider-two__counter-count h3 {
  font-size: 48px;
  color: var(--careon-white);
  font-weight: 700;
  line-height: 48px !important;
  font-family: var(--careon-font) !important;
}

.main-slider-two__counter-count span {
  font-size: 48px;
  color: var(--careon-white);
  font-weight: 700;
  line-height: 48px;
  font-family: var(--careon-font);
}

.main-slider-two__counter-text {
  font-size: 15px;
  color: var(--careon-white);
  font-weight: 500;
}

.main-slider-two__text-box {
  color: var(--careon-white);
}

.main-slider-two__thm-btn {
  position: relative;
  display: block;
  margin-top: 31px;
}

.main-slider-two__thm-btn .thm-btn {
  background-color: var(--careon-base);
}

.main-slider-two__thm-btn .thm-btn:before,
.main-slider-two__thm-btn .thm-btn:after {
  background-color: var(--careon-black);
}

.main-slider-two__bottom {
  position: relative;
  display: block;
  border-top: 1px solid rgba(var(--careon-white-rgb), 0.3);
  padding-top: 50px;
  padding-bottom: 58px;
  margin-top: 67px;
}

.main-slider-two__points {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-slider-two__points li {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.main-slider-two__points li .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  border: 1px solid var(--careon-white);
  border-radius: 50%;
  font-size: 7px;
  color: var(--careon-white);
}

.main-slider-two__points li .text {
  position: relative;
  display: block;
  flex: 1;
}

.main-slider-two__points li .text p {
  font-size: 18px;
  color: var(--careon-white);
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;
}
