

/*--------------------------------------------------------------
# Why Choose Two
--------------------------------------------------------------*/
.why-choose-two {
  position: relative;
  display: block;
  padding: 120px 0 0;
  z-index: 1;
}

.why-choose-two__top {
  position: relative;
  display: block;
  margin-bottom: 59px;
}

.why-choose-two__top-left {
  position: relative;
  display: block;
}

.why-choose-two__top-left .section-title {
  margin-bottom: 0px;
}

.why-choose-two__top-right {
  position: relative;
  display: block;
  margin-left: 20px;
  margin-top: 6px;
}

.why-choose-two__top-btn-box {
  position: relative;
  display: block;
  margin-top: 20px;
}

.why-choose-two__top-btn-box .thm-btn {
  background-color: var(--careon-base);
}

.why-choose-two__top-btn-box .thm-btn::before,
.why-choose-two__top-btn-box .thm-btn::after {
  background-color: var(--careon-black);
}

.why-choose-two__bottom {
  position: relative;
  display: block;
}

.why-choose-two__bottom-list-box {
  position: relative;
  display: block;
}

.why-choose-two__list {
  position: relative;
  display: block;
}

.why-choose-two__list li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  border: 1px solid var(--careon-bdr-color);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px 29px 19px;
}

.why-choose-two__list li .icon {
  position: relative;
  display: inline-block;
}

.why-choose-two__list li .icon span {
  position: relative;
  display: inline-block;
  font-size: 45px;
  color: var(--careon-primary);
  transform: scale(1);
  transition: 500ms ease;
}

.why-choose-two__list li:hover .icon span {
  transform: scale(0.9);
}

.why-choose-two__list li .content {
  position: relative;
  display: block;
  flex: 1;
}

.why-choose-two__list li .content h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 11px;
}

.why-choose-two__img {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  height: 100%;
}

.why-choose-two__img::before {
  background: hsla(0, 0%, 100%, 0.5);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  opacity: 1;
  pointer-events: none;
}

.why-choose-two__img:hover::before {
  width: 100%;
  opacity: 0;
  transition: all 0.6s linear;
}

.why-choose-two__img img {
  width: 100%;
  border-radius: 10px;
  height: 630px;
  object-fit: cover;
}
